<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<string>Hexapod</string>
	<key>Hexapod</key>
	<dict>
		<key>Name</key>
		<string>hexapod</string>
		<key>IP Address</key>
		<string>192.168.1.2</string>
		<key>Hostname</key>
		<string>hexapod.local</string>
		<key>Source</key>
		<integer>2</integer>
		<key>Panels</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Registry</string>
				<key>Title</key>
				<string>System</string>
				<key>Icon</key>
				<string>System.png</string>
				<key>Domains</key>
				<array>
					<string>Hexapod</string>
					<string>Power</string>
					<string>Status</string>
					<string>Pose</string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Behaviors</string>
				<key>Title</key>
				<string>Behaviors</string>
				<key>Icon</key>
				<string>Behaviors.png</string>
				<key>Domains</key>
				<array>
					<string>Behavior Status</string>
					<string>Behaviors</string>
				</array>
			</dict>
			<dict>
				<key>Source</key>
				<integer>2</integer>
				<key>Name</key>
				<string>Conditions</string>
				<key>Title</key>
				<string>Hexapod Conditions</string>
				<key>Icon</key>
				<string>Conditions.png</string>
				<key>Domains</key>
				<array>
					<string>Conditions</string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Registry</string>
				<key>Title</key>
				<string>Settings</string>
				<key>Icon</key>
				<string>Registry.png</string>
				<key>Domains</key>
				<array>
					<string>Settings</string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Registry</string>
				<key>Title</key>
				<string>Options</string>
				<key>Icon</key>
				<string>Registry.png</string>
				<key>Domains</key>
				<array>
					<string>Options</string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Registry</string>
				<key>Title</key>
				<string>Information</string>
				<key>Icon</key>
				<string>Data.png</string>
				<key>Domains</key>
				<array>
					<string>Data</string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>SysLog</string>
				<key>Title</key>
				<string>SysLog</string>
				<key>Icon</key>
				<string>SysLog.png</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
